<div id="oauth_current_services" class="oauth-services">
  <% if consumer_tokens.empty? -%>
    <p><%=translate('muck.oauth.you_are_currently_not_connected_to_any_external_services') %></p>
  <% else -%>
    <p><%=translate('muck.oauth.you_are_connected_to_the_following_services') %></p>
    <ul <%='class="icon-list"' if include_icons%>>
      <% consumer_tokens.each do |token| -%>
        <li class="<%=token.class.service_name.to_s.parameterize%> oauth_service service-link" <%= service_icon_background(token.class.service_name) if include_icons %>>
          <%= link_to oauth_service_name(token.class.service_name), oauth_consumer_path(token.class.service_name), :class => 'oauthfancybox' %>
        </li>
      <% end -%>
    </ul>
  <% end -%>
</div>
