<%= error_messages_for :client_application %>
<div class="field">
  <label for="client_application_name"><%=translate('muck.oauth.name_label') %></label><br/>
  <%= f.text_field :name %>
</div>
<div class="field">
  <label for="client_application_url"><%=translate('muck.oauth.main_application_label') %></label><br/>
  <%= f.text_field :url %>
</div>
<div class="field">
  <label for="client_application_callback_url"><%=translate('muck.oauth.callback_label') %></label><br/>
  <%= f.text_field :callback_url %>
</div>
<div class="field">
  <label for="client_application_support_url"><%=translate('muck.oauth.support_url_label') %></label><br/>
  <%= f.text_field :support_url %>
</div>
